<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>

    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js" crossorigin=""></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js" crossorigin=""></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" crossorigin=""></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" crossorigin=""></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
</head>
<body>
    <div id="root"></div>
    <!-- <script>
            var mapObj = null;
            var defaultCoord = [10.7743, 106.6669]; // coord mặc định, 9 giữa HCMC
            var zoomLevel = 13;
            var mapConfig = {
                attributionControl: false, // để ko hiện watermark nữa, nếu bị liên hệ đòi thì nhớ open nha
                center: defaultCoord, // vị trí map mặc định hiện tại
                zoom: zoomLevel, // level zoom
            };
            
            window.onload = function() {
                // init map
                mapObj = L.map('sethPhatMap', mapConfig);
                
                // add tile để map có thể hoạt động, xài free từ OSM
                L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(mapObj);
                
                // tạo marker
                var popupOption = {
                      className: "map-popup-content",
                };
                var marker = addMarker([10.7743, 106.6669], `<div class='left'><img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1SGNN50inDZcOweium4llf4qacFBFgBK9sXW7fxQ_lBm6-Abcww' /></div><div class='right'><b>Đây có gì hot?</b><br>Một Popup có 1 cô gái tên là Lailah</div><div class='clearfix'></div>`, popupOption);
            };
            
            function addMarker(coord, popupContent, popupOptionObj, markerObj) {
                if (!popupOptionObj) {
                    popupOptionObj = {};
                }
                if (!markerObj) {
                    markerObj = {};
                }
                
                var marker = L.marker(coord, markerObj).addTo(mapObj); // chơi liều @@
                var popup = L.popup(popupOptionObj);
                popup.setContent(popupContent);
                
                // binding  
                marker.bindPopup(popup);
                
                return marker;
            }	
        </script> -->
</body>
</html>
